/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

:root {
  --black-dark: #1c1c1c;
  --gray-dark: #777777;
  --text-white: #ffffff;
  --text-white-light: #f4f4f4;
  --bg-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  padding: 80px 20px;
}

main {
  max-width: 1140px;
  margin-inline: auto;
}

/* Common Section */
.primary_button {
  width: 200px;
  height: 64px;
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 27px;
  color: var(--text-white);
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.primary_button:hover {
  background: linear-gradient(270deg, #f40000 0%, #fa8131 100%);
  box-shadow: 4px 3px 22px rgb(0 0 0 / 15%);
}

.primary_button > img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.secondary_button {
  width: 140px;
  height: 55px;
  padding: 15px 28px;
  border-radius: 8px;
  background-color: var(--bg-white);
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #ff0000;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.secondary_button:hover {
  background-color: #fffaf7;
  box-shadow: 4px 3px 22px rgb(0 0 0 / 15%);
}

/* Header Section */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  max-width: 1296px;
  margin-inline: auto;
}

/* Banner */
.banner_text_contents {
  max-width: 625px;
}

.banner_title {
  font-weight: 800;
  font-size: 5rem;
  line-height: 100px;
  color: var(--black-dark);
}

.banner_description {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  color: var(--gray-dark);
  margin: 30px 0;
}

.banner_image_contents {
  max-width: 40.625rem;
  position: relative;
}

.banner_image img {
  max-width: 100%;
}

.rating {
  width: 255px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 26px;
  box-shadow: 4px 3px 22px rgb(0 0 0 / 15%);
  border-radius: 10px;
  position: absolute;
  left: 80px;
  bottom: 12px;
  background-color: var(--bg-white);
}

.rating_image {
  width: 48px;
}

.rating_point {
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 41px;
  color: var(--black-dark);
}

.rating_description {
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  color: var(--gray-dark);
}

/* Our Featured Products */
.featured_products_section {
  margin-top: 130px;
}

.featured_text_contents {
  text-align: center;
}

.featured_title {
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 61px;
  color: var(--black-dark);
}

.featured_description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: var(--gray-dark);
  margin-top: 20px;
}

.products_details {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}

.products {
  max-width: 267px;
  background: linear-gradient(180deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  transition: all 0.3s ease-in;
  box-shadow: 4px 6px 12px rgb(0 0 0 / 20%);
}

/* Transform Effect on Hover */
.products:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 4px 6px 12px rgb(0 0 0 / 40%);
}

.products > img {
  width: 135px;
}

.products_text_contents {
  text-align: center;
  margin-top: 30px;
}

.products_title {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 34px;
  color: var(--black-dark);
}

.products_description {
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  color: var(--gray-dark);
  margin-top: 10px;
}

/* Great Tea, Freshly Presented Section */
.tea_description_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  margin-top: 130px;
  /* max-width: 505px; */
}

.tea_images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.tea_images > .custom_bg_1 {
  width: 238px;
  height: 136px;
  grid-column: 1 / 2;
  grid-row: 1;
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  opacity: 0.1;
  border-radius: 10px;
}

.tea_images > .custom_bg_2 {
  width: 238px;
  height: 355px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: rgba(230, 166, 35, 0.1);
  background-image: url(../images/fresh-1.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.tea_images > .custom_bg_3 {
  width: 238px;
  height: 355px;
  grid-column: 1;
  grid-row: 2 / 4;
  background: rgba(87, 118, 57, 0.1);
  background-image: url(../images/fresh-2.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.tea_images > .custom_bg_4 {
  width: 238px;
  height: 136px;
  grid-column: 2 / 3;
  grid-row: 3;
  background: linear-gradient(90deg, #d9d9d9 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}

.tea_description {
  max-width: 570px;
}

.tea_description > .description_contents > .title {
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 61px;
  color: var(--black-dark);
  margin-bottom: 10px;
}

.tea_description > .taste_contents {
  margin-top: 30px;
  margin-bottom: 20px;
}

.details {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: var(--gray-dark);
  margin-top: 10px;
}

/* Meet Our Super Clients Section */
.super_client_section {
  background: linear-gradient(270deg, #ff0000 0%, #ff8938 100%);
  border-radius: 10px;
  height: 650px;
  margin-top: 130px;
  padding: 85px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.super_client_left_contents {
  max-width: 440px;
}

.super_client_left_contents > .super_client_title {
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 61px;
  color: var(--text-white-light);
}

.super_client_left_contents > .super_client_description {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: var(--text-white-light);
  margin-top: 20px;
  margin-bottom: 30px;
}

.super_client_right_contents {
  position: relative;
  width: 525px;
  height: 480px;
  margin-left: 35px;
}

.super_client_right_contents > .clients_details {
  position: relative;
  max-width: 455px;
  /* height: 255px; */
  padding: 20px 0 0 20px;
}


/* Bottom Right + Top Right */
.super_client_right_contents > .clients_details_1,
.super_client_right_contents > .clients_details_3 {
  position: absolute;
  padding: 20px 0 0 20px;
  max-width: 395px;
  opacity: 0.3;
  z-index: 1;
  right: 0;
}

/* Bottom Right */
.super_client_right_contents > .clients_details_1 {
  top: 0;
}

/* Front Left */
.super_client_right_contents > .clients_details_2 {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

/* Transform Effect on Hover */
.super_client_right_contents > .clients_details_2:hover {
  transform: translateY(-60%) scale(1.05);
}

/* Top Right */
.super_client_right_contents > .clients_details_3 {
  margin-top: 25px;
  bottom: 0;
}

.super_client_right_contents > .clients_details > .client_quotes {
  padding: 36px 46px;
  background-color: var(--bg-white);
  border-radius: 8px;
}

.super_client_right_contents > .clients_details_1 > .client_quotes,
.super_client_right_contents > .clients_details_3 > .client_quotes {
  padding: 28px 40px;
}

.super_client_right_contents > .clients_details > .client_quotes > .client_image {
  position: absolute;
  top: 0;
  left: 0;
}

.super_client_right_contents > .clients_details > .client_quotes > .client_image > img {
  border-radius: 50%;
  border: 3px solid var(--text-white-light);
}

.super_client_right_contents > .clients_details > .client_quotes > .quotes_description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 28px;
  color: var(--gray-dark);
}

.super_client_right_contents > .clients_details_1 > .client_quotes > .quotes_description,
.super_client_right_contents > .clients_details_3 > .client_quotes > .quotes_description {
  font-size: 14px;
  line-height: 24px;
  color: #5D5A6F;
}

.super_client_right_contents > .clients_details > .client_quotes > .client_name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 28px;
  color: var(--black-dark);
}

.super_client_right_contents > .clients_details_1 > .client_quotes > .client_name,
.super_client_right_contents > .clients_details_3 > .client_quotes > .client_name {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  color: #101724;
}

.super_client_right_contents > .clients_details > .client_quotes > .client_profession {
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #5D5A6F;
}

.super_client_right_contents > .clients_details > .client_quotes > .pattern_image {
  position: absolute;
  width: 25px;
  right: 25px;
  bottom: 20px;
}

@media screen and (width < 576px) {
  body {
    padding: 40px 20px;
  }

  /* Header Section */
  .header {
    flex-direction: column;
  }

  .banner_text_contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }

  .banner_title {
    font-size: 2.5rem;
    line-height: 50px;
  }

  .banner_description {
    font-size: 1rem;
    line-height: 20px;
    margin: 20px 0;
  }

  .rating {
    width: 210px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 18px;
    box-shadow: 4px 3px 22px rgb(0 0 0 / 15%);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    background-color: var(--bg-white);
  }

  .rating_point {
    font-size: 1.2rem;
    line-height: 30px;
  }

  .rating_description {
    font-size: 0.875rem;
    line-height: 18px;
  }

  .rating_image {
    width: auto;
  }

  /* Our Featured Products */
  .featured_products_section {
    margin-top: 70px;
  }

  .products_details {
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }

  /* Great Tea, Freshly Presented Section */
  .tea_description_section {
    flex-direction: column;
    margin-top: 100px;
  }

  .tea_images {
    grid-template-columns: repeat(1, 267px);
    column-gap: 0px;
    row-gap: 20px;
  }

  .tea_images > .custom_bg_1 {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .tea_images > .custom_bg_2 {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .tea_images > .custom_bg_3 {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 3;
  }

  .tea_images > .custom_bg_4 {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 4;
  }

  .details {
    text-align: justify;
  }

  /* Meet Our Super Clients Section */
  .super_client_section {
    margin-top: 70px;
    flex-direction: column;
    height: auto;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }

  .super_client_right_contents {
    position: relative;
    width: 100%;
    height: 310px;
    margin-left: 0;
    margin-top: 50px;
  }

  .super_client_right_contents > .clients_details {
    padding: 0;
  }

  .super_client_right_contents > .clients_details_1, 
  .super_client_right_contents > .clients_details_3 {
    visibility: hidden;
  }

  .super_client_right_contents > .clients_details > .client_quotes {
    padding: 20px;
  }

  .super_client_right_contents > .clients_details > .client_quotes > .client_image {
    position: initial;
    text-align: center;
  } 



}
